/captcha.php
/code.php
/delete.php
/edit.php
/file.php
/fileupload.php
/form.php
/form2.php
/form2_code.php
/LOGIN
/phpproject
/profile.php
/recyle.php
/register.php
/registercode.php
/show.php
/singup.php
/singupcode.php
/steps
/task
/Task1
/update.php